 

.form-section label:not(.last) {
  margin-bottom: 10px;
}

.page-form fieldset:last-of-type {
  margin-bottom: 0;
}

.form-btn {
  margin-top: 20px;
}

.form-field {
  display: block;
}

.form-section {
  margin-bottom: 20px;
}
